@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
   font-family: "entypo", sans-serif;
}

#sticky-social {
   right: 0px;
   position: fixed;
   bottom: 10px;
   z-index: 999999;
}
#sticky-social .accordion-1 li {
    margin: 0;
    text-align: center;
}
#sticky-social .accordion-1 li .title {
    background: #f5f5f5;
    padding-left: 15px;
}
#sticky-social .accordion-1 li.active .title {
    background: #cbe7ff;
    
}
#sticky-social .accordion-1 li.active .content
{
  text-align: center;
  padding: 10px;
  background: #ececec;
}

#sticky-social .accordion-1 .content {
  border: none;
}

/*all*/

 video{
  height: 90vh;
}
.foundry_modal.video_modal .close-modal {
    z-index: 4;
    position: absolute;
    top: 60px;
    right: 50px;
    cursor: pointer;
    font-size: 30px;
}
.foundry_modal.video_modal.reveal-modal {
  text-align: center
}
.foundry_modal.video_modal.no-bg {
  text-align: center;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif; "微軟正黑體", "Microsoft JhengHei",  "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3c3c3c;
    overflow-x: hidden;
}

h4 {
    font-size: 35px;
    line-height: 50px;
}
.caseslider{
  position: relative;background: url(../img/phonecase.png) center center;
  background-repeat: no-repeat;
  background-size: 80%;
  padding: 30px 0px;
  margin-bottom: 80px;
}
.case{
  z-index: 1;
}
.flexslider.indexflex {
    z-index: 2;
    margin: 0 0 0px;
    background: #fff;
    border: none;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
/*all end*/

.cover.fullscreen .flexslider.indexflex ul.slides > li {
     height: auto; 
}
.overlay:before {

    opacity: 0.6;
}
nav.transparent.fixed .menu > li > a, nav.transparent.fixed .module.widget-handle i {
    opacity: 1;
}
nav.transparent.fixed .menu > li > a, nav.transparent.fixed .module.widget-handle i {
    opacity: 1;
}
nav.transparent .menu > li > a.btndownload{
    background: #3282c9;color: #ffffff;display:inline;padding: 5px 20px;
    border-radius: 5px;
}
nav.transparent .menu > li span.nav_time{
    color: #ffffff
}
nav.transparent .nav-utility, nav.transparent .nav-bar{
	border-bottom: none;
}
nav.transparent .module.widget-handle {
    border-left: none !important;
}
nav.transparent.fixed .menu > li, nav.transparent.fixed .module.widget-handle i {
    color: #292929;
}
.remove-all-margin-padding{
margin:0 ! important;
padding:0 ! important;
}
.menu li a {
    font-size: 14px;
   
}
.menu li.active{
	 border-bottom: 4px solid #3282c9
}
nav.transparent .menu > li ,nav.transparent .menu > li > a, nav.transparent .module.widget-handle i, nav.transparent .nav-utility {
    color: #ffffff;
}
.module {
     padding: 0px; 
}
.menu > li {
    margin-right: 11px;
}
.searchbtn{
 	 background: #3282c9;color: #ffffff;padding: 8px 30px;border-radius: 10px;
 	 font-size: 16px;
}
@media (max-width: 990px)
{
.module.widget-handle {
    border-top: none;
}
}

.top-align-transform {
  position: relative;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  top: 25%;
  z-index: 2;
}
.pricing-table {
    padding: 0px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}
.pricing-table.type2 h3{
  background-image: -moz-linear-gradient( 90deg, rgb(141,82,160) 0%, rgb(193,132,213) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(141,82,160) 0%, rgb(193,132,213) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(141,82,160) 0%, rgb(193,132,213) 100%);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  font-weight: bold;border-bottom: 1px solid #c5c5c5;
}
.pricing-table.type1 h3{
  background-image: -moz-linear-gradient( 90deg, rgb(23,161,206) 0%, rgb(63,206,252) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(23,161,206) 0%, rgb(63,206,252) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(23,161,206) 0%, rgb(63,206,252) 100%);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  font-weight: bold;border-bottom: 1px solid #c5c5c5;
}
.pricing-table div.price{
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 55px;
    line-height: 20px;
    font-weight: 400;
    color: #1188b0;
    display: block;
    margin-bottom: 0px;
    position: relative;
    background: #eeeeee;

}
.pricing-table ul li{
	font-size: 15px;
	padding: 10px 5px;
	border-bottom: 1px solid #c5c5c5;
    width: 90%;
    margin: auto;
    text-align: left;color: #000

}
.btn{font-size: 15px;}
a.btn.btn-type-1{
	background: #2dbae8;border:0px;color: #ffffff;font-size: 15px;border-radius: 5px;
}
a.btn.btn-type-1:hover{
	background: #27a3cc;
}
a.btn.btn-type-2{
	background: #9563a5;border:0px;color: #ffffff;font-size: 15px;border-radius: 5px;
}
a.btn.btn-type-2:hover{
	background: #7e548c;
}
.pricing-table .price p.price_small{
	font-size: 15px;position: relative;bottom: -20px;right: 20px;color: #f00
}
/*section1*/
.section1block{
	height: 150px;
}
.hcenter{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#section1 h6{
  line-height: 14px;
}
/*section2*/
#section2{
}
.slider{
  position: absolute;
  width: 655px;
  height: 380px;
  background: #000;
  margin:auto;text-align: center;
  z-index: 99;bottom: 120px;
}

/*section4*/
.stepimg{
	height: 60px ;width: auto;margin-right: 15px;
}
.stepdot{
  position: relative;left: 25px
}
.step h5{font-size: 20px;font-weight: 900}

#section4 .playvideo{
	position: relative;
}
#section4 .playvideo img {
	width: 70%;
	position: relative;
    right: -5px;
}
#section4 .playvideo .play-button{

}
#section4 .play-button.large {
    height: 110px;
    width: 110px;
    margin-top: -60px;
    margin-left: 0px;
}
#section4 .play-button {
    border: 4px solid #fff;
}
/*section5*/
.section5text{
  background: #ececec;margin: 0px -15px;font-size: 1.3em;
  position: relative;top: 10px;padding: 10px 5px;font-weight: bold;
  
}
.section5block{
  margin: 0px auto!important;text-align: center;
  position: relative;left: 25px;
}
/*section6*/
.feature .boxed {
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}
#section6 .playvideo{
	position: relative;
}
/*footer*/
.bg-dark h1.footerlogo{
	color: #ffe401;
	font-size: 2em;
	font-weight: 900;line-height: 1.2em;
}
.footer_content{
	color: #ffffff;font-size: 15px;
}
.qrtitle{
	border: 2px solid #ffffff;border-radius: 8px;
}
/*playvideo*/



/*font color*/
.mainlead{
	font-size: 20px;line-height: 30px;
}
.deepblue{
	color: #525f7f!important
}
.black{
	color: #000000!important
}
.white{
	color: #ffffff!important
}